@font-face {
  font-family: "NanumSquareNeo";
  src: url(font/NanumSquareNeo-cBd.woff);
}

body {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  color: rgb(30, 35, 43);
}

::placeholder {
  text-align: center;
  color: #d9a78b;
}

.hidden {
  display: none;
}
.style {
  background-color: #11111123;
  color: #f2c1ae;
}
.line-through {
  text-decoration: line-through;
  text-decoration-color: #8c5c4a;
  text-decoration-thickness: 2px;
}
/*
img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 90%;
} */

header {
  background-color: #8c5c4a;
  color: #f2c1ae;
  position: fixed;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#clock {
  font-size: 6rem;
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  /* font-style: italic; */
  letter-spacing: -5px;
}

#weather {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
}

#quote {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#quote span:first-child {
  display: block;
  width: 70%;
}
#quote span:last-child {
  margin-top: 10px;
}

#address {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: medium;
  flex-grow: 1;
}

#address:hover {
  transition: all 0.3s;
}

#address a {
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
  margin-right: 7px;
  text-decoration: none;
  color: #f2c1ae;
}

main {
  background-color: #f2c1ae;
  height: 100vh;
  color: #8c5c4a;
  margin-left: 40%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 1fr 1fr 1fr 3fr;
}

#login-form input:first-child {
  background: none;
  width: 100px;
  height: 25px;
  margin-bottom: 10px;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  font-size: 1.5rem;
}

#login-form input:first-child:focus {
  outline: none;
}

#login-form input:last-child {
  background: none;
  border: 0px;
  font-size: 1.5rem;
  color: #8c5c4a;
}

#greeting {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 5rem;
}

#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-form input {
  background: none;
  width: 80%;
  padding: 5px;
  border: 0px;
  font-size: 1rem;
  text-align: center;
  color: #8c5c4a;
}

#todo-form input:focus {
  outline: none;
}

#todo-form input:focus::placeholder {
  color: transparent;
}

#todo-list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  grid-row: 3 / 6;
  overflow-y: scroll;
  height: 78%;
}

#todo-list-box::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

#todo-list-box::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #8c5c4a; /* 스크롤바의 색상 */
}

#todo-list-box::-webkit-scrollbar-track {
  background: #f2c1ae; /*스크롤바 뒷 배경 색상*/
}

ul {
  list-style: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul li {
  margin-top: 6px;
}
ul span {
  cursor: pointer;
}

button {
  border: 0px;
  background: none;
  cursor: pointer;
  color: #8c5c4a;
}

ul button:first-of-type {
  margin-left: 10px;
}

ul button:last-child {
  margin-left: -5px;
}
