body {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  top: 0px;
  left: 0px;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  color: #f6f9fc;
  user-select: none;
}

::placeholder {
  text-align: center;
  color: #f6f9fc;
}

.hidden {
  display: none !important;
}

.line-through {
  text-decoration: line-through;
  text-decoration-color: #fff;
  text-decoration-thickness: 2px;
}
input,
button,
a {
  all: unset;
}
button,
a,
#add-btn {
  cursor: pointer;
}

img {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 90%;
  filter: blur(0.3);
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -5px;
}
#login-form {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
}
#login-form input[type="text"] {
  width: 250px;
}
#login-form input[type="text"]:focus::placeholder {
  color: transparent;
  text-shadow: none;
  text-align: center;
}
#login-form input[type="submit"] {
  padding: 5px 10px;
  border: 4px solid #f6f9fc;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#greeting {
  font-size: 6rem;
  font-weight: bold;
}
#search-form,
#todo-form {
  width: 100%;
}
#query,
#input {
  width: 35%;
  height: 40px;
  font-size: 1.3rem;
  font-weight: 500;
}
#query {
  margin-top: 20px;
}
#input {
  margin-bottom: 10px;
}
#input:focus::placeholder,
#query:focus::placeholder {
  color: transparent;
  text-shadow: none;
}
#todo-list-box {
  width: 35%;
  min-height: 15%;
  max-height: 19%;
  overflow: auto;
  overflow-x: hidden;
}

#todo-list-box::-webkit-scrollbar {
  width: 12px; /* 스크롤바의 너비 */
}

#todo-list-box::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #f6f9fc52; /* 스크롤바의 색상 */
  border-radius: 10px;
}

#todo-list-box::-webkit-scrollbar-track {
  background: transparent;
}

#todo-list {
  font-size: 1.2rem;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  width: 100%;
  display: grid;
  grid-template-columns: auto 30px 30px;
  margin-top: 5px;
  cursor: pointer;
}
li button {
  transition: all 0.5s ease;
}
li button:hover {
  color: rgb(193, 193, 193);
}
footer {
  position: absolute;
  width: 100%;
  bottom: 2.3%;
  font-size: 0.75rem;
}
#address {
  width: 20%;
  position: absolute;
  text-align: left;
  font-weight: bold;
  top: 3.5%;
  left: 2.5%;
  font-size: 1.2rem;
}
#bm-text {
  font-weight: bold;
}
#bookmark > * {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}
#bookmark div button {
  margin-left: 1px;
  font-size: 0.7rem;
}
#bookmark a,
#bookmark button {
  transition: all 500ms ease;
}
#bookmark a:hover,
#bookmark button:hover {
  color: rgb(193, 193, 193);
}
#bookmark span {
  margin-right: 2px;
}
#modal {
  margin-top: 10px;
  width: 90%;
  height: 300px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
#modal-form {
  font-size: 1rem;
  margin-top: 5%;
}
#modal-name,
#modal-link {
  width: 100%;
  box-sizing: border-box;
  background-color: #f6f9fc;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 8px 10px;
  text-shadow: none;
  font-size: 0.8rem;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
#modal-name:focus::placeholder,
#modal-link:focus::placeholder {
  color: transparent;
}
.btn-box {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.btn-box > * {
  width: 35%;
  box-sizing: border-box;
  text-shadow: none;
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 8px 0;
  background-color: #f6f9fc;
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transition: all 500ms ease;
}
.btn-box > *:hover {
  background-color: rgb(193, 193, 193);
}
#close-btn {
  margin-left: 10px;
}

.over {
  transform: scale(1.1, 1.1);
}
